{% set navigation_bar = [
('/', 'home', 'Home', 'home', True),
('/about/', 'about', 'About', '', True),
('/articles/', 'articles', 'Articles', 'book', False),
] -%}
{% set active_page = active_page|default('home') -%}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='images/flask.png') }}" alt="Home">
                <span class="app-name">Flasky</span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item {% if 'home' == active_page %} active {% endif %}"
                   href="{{ url_for('home') }}">
                    Home
                </a>
                <a class="navbar-item {% if 'about' == active_page %} active {% endif %}"
                   href="{{ url_for('about') }}">
                    About
                </a>
                {% if session.logged_in -%}
                    <div class="navbar-item has-dropdown is-hoverable {% if active_page in ('articles') %} active {% endif %}">
                        <a class="navbar-link" href="{{ url_for('articles') }}">
                            <strong>Articles</strong>
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('create_article') }}">
                                <i class="fa fa-pencil-alt"></i> &nbsp; <strong>Create</strong>

                            </a>
                            <a class="navbar-item" href="{{ url_for('published_articles') }}">
                                <i class="fa fa-rss"></i> &nbsp; <strong>Published</strong>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ url_for('deleted_articles') }}">
                                <i class="fa fa-trash"></i> &nbsp; <strong>Trash</strong>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-item {% if 'articles' == active_page %} active {% endif %}"
                       href="{{ url_for('articles') }}">
                        Articles
                    </a>
                {%- endif %}
            </div>

        </div>

        <div class="navbar-end">
            {% if session.logged_in -%}
            <div class="navbar-item">
                <a class="button is-info" href="{{ url_for('dashboard') }}">Dashboard</a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    @{{ session.username }}
                </div>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="#">
                        Profile
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item is-active" href="{{ url_for('logout') }}">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <figure class="image is-32x32">
                    <img class="is-rounded" src="{{ 'storage/uploads/profiles/' + session.username + '.png' }}">
                </figure>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{{ url_for('register') }}" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="{{ url_for('login') }}" class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
            {%- endif %}
        </div>
    </div>
    </div>

</nav>